<% content_for :html_id, "extr-page" %>
<% content_for :body_class, "animated fadeInDown" %>
<% content_for :top_right do %>
  <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Hesap Oluştur?</span>
    <%= link_to 'Hesap Oluştur', miscellaneous_register_path, class: 'btn btn-danger' %>
  </span>
<% end %>
<!-- MAIN CONTENT -->
<div id="content" class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
      <h1 class="txt-color-red login-header-big">OtoData</h1>
      <div class="hero">

        <div class="pull-left login-desc-box-l">
          <h4 class="paragraph-header">Otomotiv Fabrikası Otomasyon Sistemine Hoşgeldiniz!</h4>
          <div class="login-app-icons">
            <a href="javascript:void(0);" class="btn btn-danger btn-sm">Detaylı Dökümantasyon</a>
            <a href="javascript:void(0);" class="btn btn-danger btn-sm">Git Repository</a>
          </div>
        </div>

        <%= image_tag 'demo/Car-icon.png', class: 'pull-right display-image', alt: '', style: 'width:210px;margin-top:20px' %>

      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <h5 class="about-heading">OtoData Hakkında - Güncel misiniz?</h5>
          <p>
            OtoData veri madenciliği kullanarak optimize edilmiş bir otomobil fabrikası otomasyonudur. Süreç yönetimi ve risk analizi alanında hizmet vermektedir.
          </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <h5 class="about-heading">Kullanıcı Dostu Arayüz</h5>
          <p>
            OtoData kullanıcısına kolaylık sağlamak için kullanılanilirlik ilkesine uygun bir arayüzle tasarlanmıştır.
          </p>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
      <div class="well no-padding">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: 'login-form', class: 'smart-form client-form'}) do |f| %>
          <header>
            Giriş Yap!
          </header>

          <fieldset>

            <section>
              <label class="label">E-mail</label>
              <label class="input"> <i class="icon-append fa fa-user"></i>
                <%= f.email_field :email, autofocus: true %>
                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Lütfen e-mail/kullanıcı adı giriniz!</b>
              </label>
            </section>

            <section>
              <label class="label">Parola</label>
              <label class="input"> <i class="icon-append fa fa-lock"></i>
                <%= f.password_field :password, autocomplete: "off" %>
                <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Parola giriniz!</b>
              </label>
              <div class="note">
                <%= link_to 'Şifremi Unuttum?', miscellaneous_forgot_password_path %>
              </div>
            </section>

            <section>
              <label class="checkbox">
                <%= f.check_box :remember_me %>
                <i></i>Oturumu Açık Tut</label>
            </section>
          </fieldset>
          <footer>
            <button type="submit" class="btn btn-primary">
              Giriş Yap!
            </button>
          </footer>
        <% end %>

      </div>


    </div>
  </div>
</div>


<% content_for :scripts do %>
  <script type="text/javascript">
    runAllForms();

    $(function() {
      // Validation
      $("#login-form").validate({
        // Rules for form validation
        rules : {
          email : {
            required : true,
            email : true
          },
          password : {
            required : true,
            minlength : 3,
            maxlength : 20
          }
        },

        // Messages for form validation
        messages : {
          email : {
            required : 'Please enter your email address',
            email : 'Please enter a VALID email address'
          },
          password : {
            required : 'Please enter your password'
          }
        },

        // Do not change code below
        errorPlacement : function(error, element) {
          error.insertAfter(element.parent());
        }
      });
    });
  </script>
<% end %>
